In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/seungjun/Desktop/baseball/data/batter_after_complete.csv')

In [3]:
data1 = data.copy()

In [4]:
data1

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,RBI,...,BB_rate,HP_rate,KK_rate,GD_rate,OBP,SLG,OPS,XR,BABIP,SB_rate
0,2020,7,65207,LG,2,2,0,0,0,3,...,0.00,0.00,0.000000,0.0,1.0,1.000000,2.000000,0.680,1.0,0.0
1,2020,7,69992,NC,2,2,2,0,0,1,...,0.00,0.00,0.000000,0.0,1.0,2.000000,3.000000,1.440,1.0,0.0
2,2020,7,50066,KT,1,1,0,0,1,1,...,0.00,0.00,0.000000,0.0,1.0,4.000000,5.000000,1.440,0.0,0.0
3,2020,7,61554,HH,1,1,0,0,0,0,...,0.00,0.00,0.000000,0.0,1.0,1.000000,2.000000,0.500,1.0,0.0
4,2020,7,78603,HT,17,12,3,0,0,4,...,0.05,0.05,0.050000,0.0,0.7,0.882353,1.582353,6.982,0.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,2020,9,63435,SS,4,0,0,0,0,0,...,0.00,0.00,0.250000,0.0,0.0,0.000000,0.000000,-0.368,0.0,0.0
686,2020,9,69418,SS,0,0,0,0,0,0,...,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0,0.0
687,2020,9,61457,SS,0,0,0,0,0,0,...,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0,0.0
688,2020,9,66707,HH,7,0,0,0,0,0,...,0.00,0.00,0.571429,0.0,0.0,0.000000,0.000000,-0.662,0.0,0.0
689,2020,9,65522,LT,0,0,0,0,0,0,...,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0,0.0

In [5]:
data2 = data1[data['year']==2020]

In [6]:
data2 = data2.drop(['BABIP'], axis=1)

In [7]:
data2

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,RBI,...,HR_rate,BB_rate,HP_rate,KK_rate,GD_rate,OBP,SLG,OPS,XR,SB_rate
0,2020,7,65207,LG,2,2,0,0,0,3,...,0.0,0.00,0.00,0.000000,0.0,1.0,1.000000,2.000000,0.680,0.0
1,2020,7,69992,NC,2,2,2,0,0,1,...,0.0,0.00,0.00,0.000000,0.0,1.0,2.000000,3.000000,1.440,0.0
2,2020,7,50066,KT,1,1,0,0,1,1,...,1.0,0.00,0.00,0.000000,0.0,1.0,4.000000,5.000000,1.440,0.0
3,2020,7,61554,HH,1,1,0,0,0,0,...,0.0,0.00,0.00,0.000000,0.0,1.0,1.000000,2.000000,0.500,0.0
4,2020,7,78603,HT,17,12,3,0,0,4,...,0.0,0.05,0.05,0.050000,0.0,0.7,0.882353,1.582353,6.982,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,2020,9,63435,SS,4,0,0,0,0,0,...,0.0,0.00,0.00,0.250000,0.0,0.0,0.000000,0.000000,-0.368,0.0
686,2020,9,69418,SS,0,0,0,0,0,0,...,0.0,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0
687,2020,9,61457,SS,0,0,0,0,0,0,...,0.0,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0
688,2020,9,66707,HH,7,0,0,0,0,0,...,0.0,0.00,0.00,0.571429,0.0,0.0,0.000000,0.000000,-0.662,0.0
689,2020,9,65522,LT,0,0,0,0,0,0,...,0.0,0.00,0.00,0.000000,0.0,0.0,0.000000,0.000000,0.000,0.0

In [8]:
df = data2.groupby('P_ID').sum()

In [9]:
df

,year,month,AB,HIT,H2,H3,HR,RBI,BB,HP,...,HR_rate,BB_rate,HP_rate,KK_rate,GD_rate,OBP,SLG,OPS,XR,SB_rate
P_ID,,,,,,,,,,,,,,,,,,,,,
50054,6060,24,29,4,0,0,0,1,2,1,...,0.000000,0.142857,0.071429,0.535714,0.000000,0.500000,0.307692,0.807692,0.140,0.000000
50066,2020,7,1,1,0,0,1,1,0,0,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000,1.440,0.000000
50150,6060,24,16,6,1,0,0,1,1,0,...,0.000000,0.111111,0.000000,0.472222,0.111111,0.819444,0.875000,1.694444,2.708,3.000000
50165,6060,24,245,63,9,2,21,47,31,2,...,1.000000,0.325546,0.019802,0.899166,0.061197,0.995385,1.694617,2.690002,43.092,2.000000
50202,4040,15,11,3,0,0,0,2,0,0,...,0.000000,0.000000,0.000000,0.142857,0.000000,0.485714,0.533333,1.019048,1.232,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79365,6060,24,134,30,6,0,3,16,15,4,...,0.200000,0.312326,0.081988,0.678381,0.121422,0.965568,0.936486,1.902054,12.038,0.000000
79402,6060,24,174,61,5,2,4,26,25,2,...,0.143478,0.299618,0.057143,0.226286,0.043011,1.188401,1.295673,2.484074,31.010,1.666667
79456,6060,24,130,40,4,1,0,12,6,3,...,0.000000,0.126293,0.064179,0.222269,0.108750,0.980085,1.012179,1.992265,13.512,0.000000
79608,6060,24,208,59,12,0,3,26,17,5,...,0.143478,0.216602,0.064419,0.262281,0.075530,1.032615,1.194427,2.227042,26.502,2.000000
79847,4040,17,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000

In [10]:
df['SF'] = df['PA'] - df['AB'] - df['BB'] - df['HP']

In [11]:
df['BABIP'] = ( df['HIT'] - df['HR'] ) / (df['AB'] - df['KK'] - df['HR'] - df['SF'])

In [12]:
df

,year,month,AB,HIT,H2,H3,HR,RBI,BB,HP,...,BB_rate,HP_rate,KK_rate,GD_rate,OBP,SLG,OPS,XR,SB_rate,BABIP
P_ID,,,,,,,,,,,,,,,,,,,,,
50054,6060,24,29,4,0,0,0,1,2,1,...,0.142857,0.071429,0.535714,0.000000,0.500000,0.307692,0.807692,0.140,0.000000,0.166667
50066,2020,7,1,1,0,0,1,1,0,0,...,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000,1.440,0.000000,NaN
50150,6060,24,16,6,1,0,0,1,1,0,...,0.111111,0.000000,0.472222,0.111111,0.819444,0.875000,1.694444,2.708,3.000000,0.500000
50165,6060,24,245,63,9,2,21,47,31,2,...,0.325546,0.019802,0.899166,0.061197,0.995385,1.694617,2.690002,43.092,2.000000,0.328125
50202,4040,15,11,3,0,0,0,2,0,0,...,0.000000,0.000000,0.142857,0.000000,0.485714,0.533333,1.019048,1.232,1.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79365,6060,24,134,30,6,0,3,16,15,4,...,0.312326,0.081988,0.678381,0.121422,0.965568,0.936486,1.902054,12.038,0.000000,0.278351
79402,6060,24,174,61,5,2,4,26,25,2,...,0.299618,0.057143,0.226286,0.043011,1.188401,1.295673,2.484074,31.010,1.666667,0.390411
79456,6060,24,130,40,4,1,0,12,6,3,...,0.126293,0.064179,0.222269,0.108750,0.980085,1.012179,1.992265,13.512,0.000000,0.353982
79608,6060,24,208,59,12,0,3,26,17,5,...,0.216602,0.064419,0.262281,0.075530,1.032615,1.194427,2.227042,26.502,2.000000,0.318182
79847,4040,17,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,NaN

In [13]:
sum(np.isnan(df['BABIP']))

56

In [14]:
sum(np.isinf(df['BABIP']))

0

In [15]:
df['BABIP'] = df['BABIP'].fillna(0)
sum(np.isnan(df['BABIP']))

0

In [16]:
babip_2020 = df[['BABIP']]
babip_2020['P_ID'] = babip_2020.index

<ipython-input-16-ab7ce9d9b8d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  babip_2020['P_ID'] = babip_2020.index

In [17]:
babip_2020 = babip_2020.reset_index(drop = True)

In [18]:
babip_2020.to_csv('C:/Users/seungjun/Desktop/baseball/data/batter_babip_2020.csv')