In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/seungjun/Desktop/baseball/data/raw_pitcher.csv')

In [3]:
data

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,HP_rate,KK_rate,OBP,SLG,OPS,BABIP,BK_rate,SB_try,SB_succ,ERR
0,2016,4,60757,HH,43,16,3,0,2,5,...,0.000000,0.187500,0.437500,0.581395,1.018895,0.378378,0.0,0.010695,0.500000,0.004042
1,2016,4,60764,HH,2,1,0,0,0,6,...,0.000000,0.000000,0.875000,0.500000,1.375000,0.125000,0.0,0.000000,0.000000,0.004042
2,2016,4,60768,HH,31,8,1,0,2,2,...,0.028571,0.057143,0.314286,0.483871,0.798157,0.187500,0.0,0.024308,0.694444,0.004042
3,2016,4,63791,HH,40,9,2,0,0,5,...,0.000000,0.244444,0.311111,0.275000,0.586111,0.264706,0.0,0.009709,0.000000,0.004042
4,2016,4,65764,HH,35,15,2,0,2,8,...,0.000000,0.136364,0.522727,0.657143,1.179870,0.351351,0.0,0.039587,0.804348,0.004042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,0.008696,0.217391,0.313043,0.339806,0.652849,0.266667,0.0,0.000000,0.000000,0.004411
5697,2020,9,69446,SS,76,26,4,0,3,5,...,0.012195,0.121951,0.390244,0.513158,0.903402,0.333333,0.0,0.023166,0.833333,0.004411
5698,2020,9,68419,SS,95,26,6,0,0,7,...,0.000000,0.269231,0.317308,0.336842,0.654150,0.333333,0.0,0.018626,0.750000,0.004411
5699,2020,9,68135,LG,81,29,5,1,0,0,...,0.017857,0.080357,0.276786,0.444444,0.721230,0.219697,0.0,0.039863,0.785714,0.001183
5700,2020,9,77318,HH,99,29,10,0,1,13,...,0.008547,0.128205,0.367521,0.424242,0.791764,0.266667,0.0,0.029575,0.770833,0.003063

In [4]:
data.columns

Index(['year', 'month', 'P_ID', 'T_ID', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB',
       'HP', 'KK', 'BK', 'AVG', 'VS_T_ID_HH', 'VS_T_ID_HT', 'VS_T_ID_KT',
       'VS_T_ID_LG', 'VS_T_ID_LT', 'VS_T_ID_NC', 'VS_T_ID_OB', 'VS_T_ID_SK',
       'VS_T_ID_SS', 'VS_T_ID_WO', 'H_A_AWAY', 'H_A_HOME', 'PA', 'R', 'ER',
       'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate', 'HP_rate', 'KK_rate', 'OBP',
       'SLG', 'OPS', 'BABIP', 'BK_rate', 'SB_try', 'SB_succ', 'ERR'],
      dtype='object')

In [5]:
df = data.copy()

In [6]:
df2 = df.groupby('year').sum()

In [11]:
df2 = df2.drop(['BABIP'], axis=1)

In [12]:
df2

,month,P_ID,AB,HIT,H2,H3,HR,BB,HP,KK,...,HP_rate,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR,SF
year,,,,,,,,,,,,,,,,,,,,,
2016,7869,80364872,50280,14560,2480,248,1483,5373,800,9743,...,18.211859,188.920002,436.368448,526.491387,955.859835,3.160252,28.815483,734.849190,2.911301,1161
2017,7488,78570700,50346,14397,2584,219,1547,4520,953,10009,...,20.116143,193.758233,411.007985,510.880813,919.888798,2.447832,26.093924,727.413053,2.635459,1063
2018,8371,89213773,50547,14445,2639,187,1756,4622,860,10688,...,22.279724,236.593738,468.462501,599.454891,1066.250725,2.513472,30.880461,849.930390,2.569555,874
2019,7345,82105018,49225,13145,2288,227,1014,4749,711,9595,...,16.789012,201.901368,421.445972,482.409605,901.855576,2.228320,28.562901,767.799007,3.127974,942
2020,6643,63013364,38892,10629,1821,142,1081,4106,563,7766,...,14.330097,154.733331,348.515473,424.432216,768.157537,1.897716,20.324321,528.735401,1.925355,1513

In [13]:
df2['SF'] = df2['PA'] - df2['AB'] - df2['BB'] - df2['HP']

In [14]:
df2['BABIP'] = ( df2['HIT'] - df2['HR'] ) / (df2['AB'] - df2['KK'] - df2['HR'] - df2['SF'])

In [15]:
df2

,month,P_ID,AB,HIT,H2,H3,HR,BB,HP,KK,...,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR,SF,BABIP
year,,,,,,,,,,,,,,,,,,,,,
2016,7869,80364872,50280,14560,2480,248,1483,5373,800,9743,...,188.920002,436.368448,526.491387,955.859835,3.160252,28.815483,734.849190,2.911301,1161,0.345103
2017,7488,78570700,50346,14397,2584,219,1547,4520,953,10009,...,193.758233,411.007985,510.880813,919.888798,2.447832,26.093924,727.413053,2.635459,1063,0.340605
2018,8371,89213773,50547,14445,2639,187,1756,4622,860,10688,...,236.593738,468.462501,599.454891,1066.250725,2.513472,30.880461,849.930390,2.569555,874,0.340836
2019,7345,82105018,49225,13145,2288,227,1014,4749,711,9595,...,201.901368,421.445972,482.409605,901.855576,2.228320,28.562901,767.799007,3.127974,942,0.321999
2020,6643,63013364,38892,10629,1821,142,1081,4106,563,7766,...,154.733331,348.515473,424.432216,768.157537,1.897716,20.324321,528.735401,1.925355,1513,0.334642

In [23]:
sum(np.isnan(df2['BABIP']))

0

In [24]:
sum(np.isinf(df2['BABIP']))

0

In [25]:
babip = df2[['BABIP']]
babip['P_ID'] = babip.index

<ipython-input-25-118161f90fee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  babip['P_ID'] = babip.index

In [26]:
babip = babip.reset_index(drop = True)

In [27]:
babip

      BABIP  P_ID
0  0.345103  2016
1  0.340605  2017
2  0.340836  2018
3  0.321999  2019
4  0.334642  2020

In [28]:
babip.to_csv('C:/Users/seungjun/Desktop/baseball/data/pitcher_total_babip.csv')