In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('C:/Users/seungjun/Desktop/baseball/data/raw_pitcher.csv')

In [13]:
data

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,HP_rate,KK_rate,OBP,SLG,OPS,BABIP,BK_rate,SB_try,SB_succ,ERR
0,2016,4,60757,HH,43,16,3,0,2,5,...,0.000000,0.187500,0.437500,0.581395,1.018895,0.378378,0.0,0.010695,0.500000,0.004042
1,2016,4,60764,HH,2,1,0,0,0,6,...,0.000000,0.000000,0.875000,0.500000,1.375000,0.125000,0.0,0.000000,0.000000,0.004042
2,2016,4,60768,HH,31,8,1,0,2,2,...,0.028571,0.057143,0.314286,0.483871,0.798157,0.187500,0.0,0.024308,0.694444,0.004042
3,2016,4,63791,HH,40,9,2,0,0,5,...,0.000000,0.244444,0.311111,0.275000,0.586111,0.264706,0.0,0.009709,0.000000,0.004042
4,2016,4,65764,HH,35,15,2,0,2,8,...,0.000000,0.136364,0.522727,0.657143,1.179870,0.351351,0.0,0.039587,0.804348,0.004042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,0.008696,0.217391,0.313043,0.339806,0.652849,0.266667,0.0,0.000000,0.000000,0.004411
5697,2020,9,69446,SS,76,26,4,0,3,5,...,0.012195,0.121951,0.390244,0.513158,0.903402,0.333333,0.0,0.023166,0.833333,0.004411
5698,2020,9,68419,SS,95,26,6,0,0,7,...,0.000000,0.269231,0.317308,0.336842,0.654150,0.333333,0.0,0.018626,0.750000,0.004411
5699,2020,9,68135,LG,81,29,5,1,0,0,...,0.017857,0.080357,0.276786,0.444444,0.721230,0.219697,0.0,0.039863,0.785714,0.001183
5700,2020,9,77318,HH,99,29,10,0,1,13,...,0.008547,0.128205,0.367521,0.424242,0.791764,0.266667,0.0,0.029575,0.770833,0.003063

In [14]:
data.columns

Index(['year', 'month', 'P_ID', 'T_ID', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB',
       'HP', 'KK', 'BK', 'AVG', 'VS_T_ID_HH', 'VS_T_ID_HT', 'VS_T_ID_KT',
       'VS_T_ID_LG', 'VS_T_ID_LT', 'VS_T_ID_NC', 'VS_T_ID_OB', 'VS_T_ID_SK',
       'VS_T_ID_SS', 'VS_T_ID_WO', 'H_A_AWAY', 'H_A_HOME', 'PA', 'R', 'ER',
       'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate', 'HP_rate', 'KK_rate', 'OBP',
       'SLG', 'OPS', 'BABIP', 'BK_rate', 'SB_try', 'SB_succ', 'ERR'],
      dtype='object')

In [15]:
df = data.copy()

In [16]:
df2 = df.drop(['BABIP'], axis=1)

In [17]:
df2

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,BB_rate,HP_rate,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR
0,2016,4,60757,HH,43,16,3,0,2,5,...,0.104167,0.000000,0.187500,0.437500,0.581395,1.018895,0.0,0.010695,0.500000,0.004042
1,2016,4,60764,HH,2,1,0,0,0,6,...,0.750000,0.000000,0.000000,0.875000,0.500000,1.375000,0.0,0.000000,0.000000,0.004042
2,2016,4,60768,HH,31,8,1,0,2,2,...,0.057143,0.028571,0.057143,0.314286,0.483871,0.798157,0.0,0.024308,0.694444,0.004042
3,2016,4,63791,HH,40,9,2,0,0,5,...,0.111111,0.000000,0.244444,0.311111,0.275000,0.586111,0.0,0.009709,0.000000,0.004042
4,2016,4,65764,HH,35,15,2,0,2,8,...,0.181818,0.000000,0.136364,0.522727,0.657143,1.179870,0.0,0.039587,0.804348,0.004042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,0.078261,0.008696,0.217391,0.313043,0.339806,0.652849,0.0,0.000000,0.000000,0.004411
5697,2020,9,69446,SS,76,26,4,0,3,5,...,0.060976,0.012195,0.121951,0.390244,0.513158,0.903402,0.0,0.023166,0.833333,0.004411
5698,2020,9,68419,SS,95,26,6,0,0,7,...,0.067308,0.000000,0.269231,0.317308,0.336842,0.654150,0.0,0.018626,0.750000,0.004411
5699,2020,9,68135,LG,81,29,5,1,0,0,...,0.000000,0.017857,0.080357,0.276786,0.444444,0.721230,0.0,0.039863,0.785714,0.001183
5700,2020,9,77318,HH,99,29,10,0,1,13,...,0.111111,0.008547,0.128205,0.367521,0.424242,0.791764,0.0,0.029575,0.770833,0.003063

In [18]:
df2 = df2.groupby('P_ID').sum()

In [19]:
df2['SF'] = df2['PA'] - df2['AB'] - df2['BB'] - df2['HP']

In [20]:
df2['BABIP'] = ( df2['HIT'] - df2['HR'] ) / (df2['AB'] - df2['KK'] - df2['HR'] - df2['SF'])

In [21]:
df2

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR,SF,BABIP
P_ID,,,,,,,,,,,,,,,,,,,,,
50030,10100,35,400,108,18,0,6,35,5,66,...,0.690123,1.577637,1.747081,3.324718,0.000000,0.058140,5.000000,0.005936,26,0.337748
50036,4040,11,23,9,1,1,1,5,3,3,...,0.195489,1.007519,1.292308,2.299826,0.000000,0.000000,0.000000,0.002374,2,0.470588
50040,10100,35,645,177,25,1,14,53,7,125,...,0.857218,1.618394,1.862681,3.481075,0.000000,0.063613,2.000000,0.005936,14,0.331301
50109,4040,17,18,6,1,0,0,1,1,1,...,0.250000,0.875000,0.733333,1.608333,0.000000,0.000000,0.000000,0.002366,0,0.352941
50126,10100,35,277,73,16,0,4,29,9,49,...,0.639172,1.565089,1.846055,3.411144,0.055556,0.116959,3.750000,0.005915,27,0.350254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97541,6048,24,81,32,3,0,3,5,0,8,...,0.418440,1.119976,1.403899,2.523875,0.000000,0.103448,2.000000,0.005278,1,0.420290
99314,10081,31,84,30,6,0,1,2,3,13,...,0.943107,2.085290,2.848587,4.933877,0.000000,0.000000,0.000000,0.017749,2,0.426471
99445,64572,213,780,219,37,4,37,52,12,178,...,5.927975,11.033344,16.173013,27.206357,0.000000,0.827262,23.272727,0.063836,30,0.340187
99563,36308,119,463,136,31,3,23,35,5,90,...,3.427835,6.036344,9.457021,15.493365,0.000000,0.457031,16.615385,0.041133,9,0.331378
99737,28231,91,500,134,20,1,17,57,5,136,...,2.813951,5.404158,5.141636,9.545795,0.000000,0.459413,8.842105,0.039354,17,0.354545

In [22]:
sum(np.isnan(df2['BABIP']))

2

In [23]:
sum(np.isinf(df2['BABIP']))

0

In [24]:
babip = df2[['BABIP']]
babip['P_ID'] = babip.index

<ipython-input-24-118161f90fee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  babip['P_ID'] = babip.index

In [25]:
babip = babip.reset_index(drop = True)

In [26]:
babip

        BABIP   P_ID
0    0.337748  50030
1    0.470588  50036
2    0.331301  50040
3    0.352941  50109
4    0.350254  50126
..        ...    ...
520  0.420290  97541
521  0.426471  99314
522  0.340187  99445
523  0.331378  99563
524  0.354545  99737

[525 rows x 2 columns]

In [27]:
babip.to_csv('C:/Users/seungjun/Desktop/baseball/data/pitcher_total_babip.csv')