In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/seungjun/Desktop/baseball/data/raw_pitcher.csv')

In [3]:
data1 = data.copy()

In [4]:
data1

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,HP_rate,KK_rate,OBP,SLG,OPS,BABIP,BK_rate,SB_try,SB_succ,ERR
0,2016,4,60757,HH,43,16,3,0,2,5,...,0.000000,0.187500,0.437500,0.581395,1.018895,0.378378,0.0,0.010695,0.500000,0.004042
1,2016,4,60764,HH,2,1,0,0,0,6,...,0.000000,0.000000,0.875000,0.500000,1.375000,0.125000,0.0,0.000000,0.000000,0.004042
2,2016,4,60768,HH,31,8,1,0,2,2,...,0.028571,0.057143,0.314286,0.483871,0.798157,0.187500,0.0,0.024308,0.694444,0.004042
3,2016,4,63791,HH,40,9,2,0,0,5,...,0.000000,0.244444,0.311111,0.275000,0.586111,0.264706,0.0,0.009709,0.000000,0.004042
4,2016,4,65764,HH,35,15,2,0,2,8,...,0.000000,0.136364,0.522727,0.657143,1.179870,0.351351,0.0,0.039587,0.804348,0.004042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,0.008696,0.217391,0.313043,0.339806,0.652849,0.266667,0.0,0.000000,0.000000,0.004411
5697,2020,9,69446,SS,76,26,4,0,3,5,...,0.012195,0.121951,0.390244,0.513158,0.903402,0.333333,0.0,0.023166,0.833333,0.004411
5698,2020,9,68419,SS,95,26,6,0,0,7,...,0.000000,0.269231,0.317308,0.336842,0.654150,0.333333,0.0,0.018626,0.750000,0.004411
5699,2020,9,68135,LG,81,29,5,1,0,0,...,0.017857,0.080357,0.276786,0.444444,0.721230,0.219697,0.0,0.039863,0.785714,0.001183
5700,2020,9,77318,HH,99,29,10,0,1,13,...,0.008547,0.128205,0.367521,0.424242,0.791764,0.266667,0.0,0.029575,0.770833,0.003063

In [5]:
data2 = data1[data['year']==2020]

In [6]:
data2 = data2.drop(['BABIP'], axis=1)

In [7]:
data2

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,BB_rate,HP_rate,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR
4753,2020,5,60140,HH,30,9,3,1,1,6,...,0.157895,0.052632,0.263158,0.447368,0.566667,1.014035,0.0,0.030423,0.695652,0.003063
4754,2020,5,60768,HH,19,7,1,1,1,5,...,0.208333,0.000000,0.166667,0.500000,0.684211,1.184211,0.0,0.024308,0.694444,0.003063
4755,2020,5,61156,HH,6,1,0,0,0,3,...,0.333333,0.000000,0.000000,0.444444,0.166667,0.611111,0.0,0.000000,0.000000,0.003063
4756,2020,5,61214,HH,11,2,0,0,0,1,...,0.083333,0.000000,0.333333,0.250000,0.181818,0.431818,0.0,0.032468,0.840000,0.003063
4757,2020,5,62611,HH,30,14,5,0,1,3,...,0.090909,0.000000,0.090909,0.515152,0.733333,1.248485,0.0,0.040404,0.750000,0.003063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,0.078261,0.008696,0.217391,0.313043,0.339806,0.652849,0.0,0.000000,0.000000,0.004411
5697,2020,9,69446,SS,76,26,4,0,3,5,...,0.060976,0.012195,0.121951,0.390244,0.513158,0.903402,0.0,0.023166,0.833333,0.004411
5698,2020,9,68419,SS,95,26,6,0,0,7,...,0.067308,0.000000,0.269231,0.317308,0.336842,0.654150,0.0,0.018626,0.750000,0.004411
5699,2020,9,68135,LG,81,29,5,1,0,0,...,0.000000,0.017857,0.080357,0.276786,0.444444,0.721230,0.0,0.039863,0.785714,0.001183
5700,2020,9,77318,HH,99,29,10,0,1,13,...,0.111111,0.008547,0.128205,0.367521,0.424242,0.791764,0.0,0.029575,0.770833,0.003063

In [8]:
df = data2.groupby('P_ID').sum()

In [9]:
df

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,BB_rate,HP_rate,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR
P_ID,,,,,,,,,,,,,,,,,,,,,
50030,10100,35,400,108,18,0,6,35,5,66,...,0.373065,0.056148,0.690123,1.577637,1.747081,3.324718,0.000000,0.058140,5.000000,0.005936
50036,4040,11,23,9,1,1,1,5,3,3,...,0.263158,0.195489,0.195489,1.007519,1.292308,2.299826,0.000000,0.000000,0.000000,0.002374
50040,10100,35,645,177,25,1,14,53,7,125,...,0.364606,0.049679,0.857218,1.618394,1.862681,3.481075,0.000000,0.063613,2.000000,0.005936
50109,4040,17,18,6,1,0,0,1,1,1,...,0.062500,0.250000,0.250000,0.875000,0.733333,1.608333,0.000000,0.000000,0.000000,0.002366
50126,10100,35,277,73,16,0,4,29,9,49,...,0.443847,0.109728,0.639172,1.565089,1.846055,3.411144,0.055556,0.116959,3.750000,0.005915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79617,4040,15,8,3,1,0,0,1,0,3,...,0.250000,0.000000,0.650000,0.950000,1.200000,2.150000,0.000000,0.032634,0.571429,0.002366
79764,10100,35,175,61,13,2,4,9,2,21,...,0.340195,0.039324,0.422325,1.933129,2.480963,4.414091,0.000000,0.126192,3.777778,0.015314
79825,8080,26,112,36,8,1,8,4,3,18,...,0.109782,0.096372,0.665142,1.448002,2.593347,4.041349,0.000000,0.056338,1.600000,0.004732
79847,10100,35,222,55,12,0,6,34,3,41,...,0.716734,0.031586,0.834212,1.952871,2.114946,4.067817,0.000000,0.111397,3.846154,0.005875
99445,8080,26,65,22,3,1,3,3,0,10,...,0.161111,0.000000,0.663492,1.494444,2.641560,4.136004,0.000000,0.103408,2.909091,0.017642

In [10]:
df['SF'] = df['PA'] - df['AB'] - df['BB'] - df['HP']

In [11]:
df['BABIP'] = ( df['HIT'] - df['HR'] ) / (df['AB'] - df['KK'] - df['HR'] - df['SF'])

In [12]:
df

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,KK_rate,OBP,SLG,OPS,BK_rate,SB_try,SB_succ,ERR,SF,BABIP
P_ID,,,,,,,,,,,,,,,,,,,,,
50030,10100,35,400,108,18,0,6,35,5,66,...,0.690123,1.577637,1.747081,3.324718,0.000000,0.058140,5.000000,0.005936,26,0.337748
50036,4040,11,23,9,1,1,1,5,3,3,...,0.195489,1.007519,1.292308,2.299826,0.000000,0.000000,0.000000,0.002374,2,0.470588
50040,10100,35,645,177,25,1,14,53,7,125,...,0.857218,1.618394,1.862681,3.481075,0.000000,0.063613,2.000000,0.005936,14,0.331301
50109,4040,17,18,6,1,0,0,1,1,1,...,0.250000,0.875000,0.733333,1.608333,0.000000,0.000000,0.000000,0.002366,0,0.352941
50126,10100,35,277,73,16,0,4,29,9,49,...,0.639172,1.565089,1.846055,3.411144,0.055556,0.116959,3.750000,0.005915,27,0.350254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79617,4040,15,8,3,1,0,0,1,0,3,...,0.650000,0.950000,1.200000,2.150000,0.000000,0.032634,0.571429,0.002366,0,0.600000
79764,10100,35,175,61,13,2,4,9,2,21,...,0.422325,1.933129,2.480963,4.414091,0.000000,0.126192,3.777778,0.015314,4,0.390411
79825,8080,26,112,36,8,1,8,4,3,18,...,0.665142,1.448002,2.593347,4.041349,0.000000,0.056338,1.600000,0.004732,5,0.345679
79847,10100,35,222,55,12,0,6,34,3,41,...,0.834212,1.952871,2.114946,4.067817,0.000000,0.111397,3.846154,0.005875,3,0.284884
99445,8080,26,65,22,3,1,3,3,0,10,...,0.663492,1.494444,2.641560,4.136004,0.000000,0.103408,2.909091,0.017642,3,0.387755

In [13]:
sum(np.isnan(df['BABIP']))

1

In [14]:
sum(np.isinf(df['BABIP']))

0

In [15]:
df['BABIP'] = df['BABIP'].fillna(0)
sum(np.isnan(df['BABIP']))

0

In [16]:
babip_2020 = df[['BABIP']]
babip_2020['P_ID'] = babip_2020.index

<ipython-input-16-ab7ce9d9b8d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  babip_2020['P_ID'] = babip_2020.index

In [17]:
babip_2020 = babip_2020.reset_index(drop = True)

In [18]:
babip_2020.to_csv('C:/Users/seungjun/Desktop/baseball/data/pitcher_babip_2020.csv')