# 빅콘테스트 퓨처스리그 : KBO 정규시즌 팀별 승률, 타율, 방어율 예측

2020.09.23 수요일 김채형

## Crawling - KBO 기록 7월 추가

In [3]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

In [12]:
# 크롬드라이버 경로 설정
path = 'C:/Users/dhxog/Downloads/chromedriver_win32 (4)/chromedriver'

### 경기 일정 크롤링

In [19]:
# 경기일정 url
url = 'https://www.koreabaseball.com/Schedule/Schedule.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

def setMonth(month):
    month = driver.find_element_by_xpath("//option[@value='" + int(month) + "']")
    month.click()

setMonth(7)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 크롤링 시작
table_df_list = []

for i in range(1, 9):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [14]:
# 타자 7월 테이블
hitter_july = pd.concat(table_df_list)
hitter_july.reset_index(drop=True, inplace=True)
hitter_july

      순위  선수명   팀명    AVG  AB   H  2B  3B  HR  RBI  BB  HBP  SO  GDP
0      1  신민재   LG      1   2   2   0   0   0    3   0    0   0    0
1      1  최정원   NC      1   2   2   2   0   0    1   0    0   0    0
2      1  강현우   KT      1   1   1   0   0   1    1   0    0   0    0
3      1  김민하   한화      1   1   1   0   0   0    0   0    0   0    0
4      5  김선빈  KIA  0.706  17  12   3   0   0    4   1    1   1    0
..   ...  ...  ...    ...  ..  ..  ..  ..  ..  ...  ..  ...  ..  ...
215  181  김재현   삼성  0.000   3   0   0   0   0    1   1    0   0    0
216  181  박계범   삼성      -   0   0   0   0   0    0   0    0   0    0
217  181  노시환   한화  0.000   7   0   0   0   0    0   0    0   4    0
218  181  박상언   한화  0.000   5   0   0   0   0    0   0    0   2    0
219  181  이성열   한화  0.000   2   0   0   0   0    0   0    0   1    0

[220 rows x 14 columns]

In [5]:
hitter_july.to_csv('../../data/kbo_record_hitter_july.csv')

### 선수기록 - 투수 크롤링

In [6]:
# 투수 url 설정
url = 'https://www.koreabaseball.com/Record/Player/PitcherBasic/Situation.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

# 월별 -> 7월 선택
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituation_ddlSituation"]'))
select.select_by_visible_text('월별')
time.sleep(10)
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituationDetail_ddlSituationDetail"]'))
select.select_by_visible_text('7월')
time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 8):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [7]:
# 투수 7월 테이블
pitcher_july = pd.concat(table_df_list)
pitcher_july.reset_index(drop=True, inplace=True)
pitcher_july

      순위    선수명   팀명   H  2B  3B  HR  BB  HBP  SO  WP  BK    AVG
0      1    이창재   KT   0   0   0   0   0    0   0   0   0  0.000
1      1    윤호솔   한화   0   0   0   0   2    0   1   1   0  0.000
2      3     권혁   두산   1   0   1   0   0    0   0   0   0  1.000
3      3    이승진   두산   1   0   0   0   0    0   0   0   0  0.500
4      3    이우찬   LG   1   0   0   0   1    0   0   0   0  1.000
..   ...    ...  ...  ..  ..  ..  ..  ..  ...  ..  ..  ..    ...
185  186    요키시   키움  37   4   2   3   3    1  15   0   1  0.303
186  187    양현종  KIA  38   9   1   5  10    1  23   1   0  0.380
187  188    유희관   두산  40   9   0   4   7    1  11   0   0  0.345
188  189  데스파이네   KT  43   7   1   3  10    2  34   2   0  0.283
189  190     켈리   LG  44   7   0   3   6    2  33   1   0  0.301

[190 rows x 13 columns]

In [8]:
pitcher_july.to_csv('../../data/kbo_record_pitcher_july.csv')